main
{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

body
{
    background-color: #E5E5E5;
}

.copiar
{
    background-color: blue;
    color: white;
}

.encriptar
{
    background-color: blue;
    color: white;
}

.desencriptar
{
    margin-left: 30px;
    background-color: #D8DFE8;
    border-color: #0A3871;
}

.mensaje
{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("/Imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
}

.copiar
{
    position: relative;
    margin-top: 20px;
    margin-left: 205px;
}

.botones
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}